<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>linkJquery</title>
    <script th:fragment="jquery" th:src="@{https://code.jquery.com/jquery-3.1.1.min.js}"></script>
    <script th:fragment="jQueryValidator" th:src="@{https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js}"></script>
</head>
    <body>
        <!--This document contains default <head> section fragment only-->
    </body>
</html>